.header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(136, 50, 0, 0.5);
    backdrop-filter: blur(10px);
    gap: 20px;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
}


.header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;

}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}


.logo {
    font-weight: bold;
    font-size: 37px;
    margin-left: 20px;
}




.subscribe {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-right: 20px;

}

.subscribe:hover {
    color: white;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.hero img {
    margin: 0 auto;
    width: 98%;
    border-radius: 50px;
}

.hero {
    position: relative;
}

.hero .herocircle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
}

.hero .microphone {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 150px;
}

.new-badge {
    position: absolute;
    top: 18%;
    left: 55%;
    background-color: #000000;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    z-index: 10;
}

.hero-content {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.hero-title {
    font-size: 60px;
    font-weight: bold;
    color: rgb(0, 0, 0);

}

.btn-spotify {
    background: linear-gradient(to right, #ff006e, #ff8800);
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 600;
}

.btn-subscribe {
    background: linear-gradient(to right, #ff006e, #ff8800);
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 600;
}