@import "tailwindcss";

.header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(230, 87, 4, 0.5);
    backdrop-filter: blur(10px);
    gap: 20px;
    padding: 10px;
    margin: 20px;
    border-radius: 50px;
}


.header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;

}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}


.logo {
    font-weight: bold;
    font-size: 37px;
    margin-left: 20px;
}




.subscribe {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-right: 20px;

}

.subscribe:hover {
    color: white;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.hero img {
    margin: 0 auto;
    width: 98%;
    border-radius: 50px;
}

.hero {
    position: relative;
}

.hero .herocircle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
}

.hero .microphone {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 150px;
}

.new-badge {
    position: absolute;
    top: 18%;
    left: 55%;
    background-color: #000000;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;

}

.hero-content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.hero-title {
    font-size: 60px;
    font-weight: bold;
    color: rgb(0, 0, 0);

}

.btn-spotify {
    background: linear-gradient(to right, #ff006e, #ff8800);
    color: rgb(0, 0, 0);
    padding: 12px 25px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
}

.btn-spotify {
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {

    0%,
    100% {
        box-shadow: 0 0 5px rgba(251, 146, 60, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(251, 146, 60, 0.8), 0 0 30px rgba(251, 146, 60, 0.6);
    }
}

.btn-subscribe {
    background: transparent;
    color: rgb(10, 37, 3);
    padding: 12px 25px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid rgb(0, 128, 96);
}

.btn-subscribe {
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {

    0%,
    100% {
        box-shadow: 0 0 5px rgba(251, 146, 60, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(251, 146, 60, 0.8), 0 0 30px rgba(251, 146, 60, 0.6);
    }
}

.btn-spotify img,
.btn-subscribe img {
    display: inline-block;
    margin-right: 10px;
}


.about-section {
    background-color: transparent;
    padding: 80px 20px;
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
}

.about-title {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.about-text {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

.about-section hr {
    border-top: 1px solid whitesmoke;
    width: 100%;
    margin: 20px auto;
}

.stats-section {

    color: white;
}

.stats-container {

    display: flex;
    justify-content: space-around;
    gap: 20px;

}


.stat-number {
    font-size: 48px;
    font-weight: bold;
    color: #dd6300;
    margin-bottom: 10px;
}

.stat-label {
    font-size: 12px;
}

.columns {
    margin-top: 80px;
    margin-bottom: 20px;
}

.columns h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}